Package: libpreferenceprotect
Name: libPreferenceProtect
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Library to protect preference panes
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Development
